@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SummonBonum</h1>
    <p>The Travel Services</p>
    <img src="https://sourceduk.com/wp-content/uploads/2018/10/girlgoneabroad.jpg" height="600"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
